{% load static %}
{% block body %}
{% include 'recruiter_header.html' %}
{% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message !</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
<br>
<div class=" container" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7); transition: 0.3s; border-radius: 5px;height: auto;width: 400px;" >
    <br>
    <h2 style="text-align:center;"> Hi {{request.user.first_name}} "{{request.user.lastname}} Change Your Password</h2>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
       <!-- Password old -->
       <div class="form-outline mb-4">
        <input type="password" id="form2Example2" name="pass1" class="form-control" />
        <label class="form-label" for="form2Example2">Old Password</label>
      </div>
      <!-- Password1 input -->
      <div class="form-outline mb-4">
        <input type="password" id="form2Example2" name="pass2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>
      
        <!-- Password2 input -->
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" name="pass3" class="form-control" />
          <label class="form-label" for="form2Example2"> Confirm Password</label>
        </div>
       
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4"> Update </button>
      </form>
      <br>
<div>
{% endblock  %}
